
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>JustLearn - @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/scripts")
    @*Below scripts are embedded in BundleConfig*@
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />

    @RenderSection("head", required: false)
</head>
<body>
    @Html.Partial("_NavBar")
    <div class="container">
        @RenderBody()
    </div>
    @Html.Partial("_Footer")
    @RenderSection("script", required: false)
</body>
</html>
